/* MyCard.css */
.my-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-card {
  width: 18rem;
  margin: 20px;
}

.my-card .card-img-top {
  width: 100%; /* Set a fixed width */
  height: 270px;
}
